.Homepage-Title {
   text-align: center;
   font-size: 3rem;
   margin: 0 2rem 2rem;
   padding-top: 2rem;
}

.Homepage-Header {
   border-bottom: 2px solid black;
   background-color: #f6f6f6;
}

.Homepage-B {
   display: flex;
   justify-content: center;
}

.Homepage-Body {
   display: inline-block;
   padding: 5rem;
   margin-top: 3rem;
   background-color: #f6f6f6;
}

.Homepage-Form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.Homepage-Label {
   font-size: 3rem;
   margin-right: 20px;
}

.Homepage-Input {
   padding: 1rem 4rem;
   font-size: 2rem;
}

.Homepage-Btn {
   padding: 1rem;
   font-size: 2rem;
   background-color: f6f6f6;
}
