.navbar {
   background-color: rgba(239, 238, 226, 255);
   border-bottom: 2px solid rgba(42, 49, 59, 255);
   width: 100vw;
   font-size: 1rem;
   padding: 5px;
   min-height: 30px;
}

.navbar a {
   color: rgba(42, 49, 59, 255);
   text-decoration: none;
   margin-left: 1rem;
}

.Jobly-Logo {
   max-height: 30px;
}

nav a.active {
   color: #f0f2f5;
   font-weight: bold;
   border-bottom: 5px dotted;
   box-sizing: border-box;
}

nav a.active:hover {
   color: #f0f2f5 !important;
}

nav a:hover {
   text-decoration: none;
   color: #f0f2f5;
}

nav a.active.navbar-brand {
   border-bottom: none;
   min-height: 30px;
   margin-left: 1rem;
}

nav a:not(.navbar-brand):hover {
   font-weight: bold;
}
