.App main.Jobly {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: calc(100vh - 56px); /* router view - navbar height */
   color: white;
   text-align: center;
}

/* error page */
.error {
   text-align: center;
   font-size: 3rem;
}

/* loading page */
.loading {
   text-align: center;
   font-size: 3rem;
}

/* Card Styles */
.Mainpage .card-body {
   background-color: rgba(239, 238, 226, 255);
   color: rgba(42, 49, 59, 255);
}

.Mainpage .list-group {
   display: unset;
   min-width: 100%;
   min-height: 100%;
   padding: 0;
   columns: 25rem;
   column-rule: 4px solid rgba(42, 49, 59, 255);
}

.Mainpage .list-group a {
   display: inline-block;
   margin-top: 1.5rem;
   color: rgba(42, 49, 59, 255);
   list-style: none;
   height: fit-content;
   width: 20%;
   border-left: 5px rgba(42, 49, 59, 255) dashed;
}

.Mainpage .list-group a:hover {
   text-decoration: none;
   border-left: 5px solid rgba(42, 49, 59, 255);
   cursor: pointer;
}

a li.list-group-item {
   font-weight: bold;
   background-color: transparent;
   border: 0;
   padding: 10px 0;
}
