.Ability-Details-Page {
   margin: 0 40px;
}

.ADP-Title {
   text-align: center;
   font-size: 3rem;
   margin: 40px 2rem 2rem;
   padding-top: 2rem;
}

.ADP-Header {
   border-bottom: 2px solid black;
   background-color: #f6f6f6;
   text-align: center;
}

.ADP-Body {
   background-color: #f6f6f6;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}
