.MP-Header {
   border-bottom: 2px solid rgba(42, 49, 59, 255);
}

.MP-Title {
   margin: 0;
}

.MP-Title h3 {
   font-size: 3rem;
   letter-spacing: 10px;
   text-align: center;
   margin: 2rem 0;
   color: rgba(42, 49, 59, 255);
}
