/* Lists of stories */

.stories-list {
   margin: 20px 5px;
}

.stories-list > li {
   color: gray;
   font-size: 0.8rem;
   margin: 10px 0;
   margin-top: 0px;
}

#stories-loading-msg {
   font-weight: bold;
   font-size: 150%;
   margin: 20px 30px;
}

/* Individual stories */

.story-link {
   color: black;
   font-size: 0.85rem;
   font-weight: normal;
   margin: 18px 0;
}

.story-link:hover {
   text-decoration: none;
}

.story-author {
   margin-left: 2em;
}

.story-user {
   display: block;
}

/* Making the star shaped checkboxes by modifying code from http://jsfiddle.net/binaryben/aLx3m4k5/ */

.star {
   visibility: hidden;
   font-size: 20px;
   cursor: pointer;
}

.star:before {
   content: "\2606";
   position: relative;
   top: -8px;
   visibility: visible;
}

.star:checked:before {
   content: "\2605";
   position: relative;
   color: gold;
}

/* Adding effect to deleting stories */
.delete-story {
   margin-left: 1em;
}

.my-stories-list li:hover {
   color: red;
   text-decoration: line-through;
}
