.Pokemon-Details-Page {
   margin: 0 40px;
}

.PDP-Title {
   text-align: center;
   font-size: 3rem;
   margin: 40px 2rem 2rem;
   padding-top: 2rem;
}

.PDP-Header {
   border-bottom: 2px solid black;
   background-color: #f6f6f6;
   text-align: center;
}

.PDP-Favorite {
   display: inline-block;
   margin-right: 2px;
   margin: 0;
}

.PDP-DexId {
   font-size: 15px;
}

.PDP-Body {
   background-color: #f6f6f6;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.Pkmn-Img {
   min-width: 200px;
}

.Ability-Link {
   text-decoration: none;
   color: black;
}

li a.Ability-Link:hover {
   text-decoration: underline wavy goldenrod;
}

.Pkmn-Data {
   text-align: center;
}

.Pkmn-Data ul {
   list-style: none;
   padding: 0;
}

.Pkmn-Btn {
   display: inline-block;
   position: relative;
   bottom: 85px;
   padding: 7px 10px;
   font-weight: bold;
}

.RemoveF {
   background-color: #f6f6f6;
   border: 2px solid rgb(200, 0, 0);
   border-top: 2px solid black;
}

.RemoveF:hover {
   background-color: rgb(200, 0, 0);
   border-color: rgb(200, 0, 0);
   color: #f6f6f6;
}

.AddF {
   background-color: #f6f6f6;
   border: 2px solid goldenrod;
   border-top: 2px solid black;
}

.AddF:hover {
   background-color: goldenrod;
   color: #f6f6f6;
}

.Pkmn-Data table {
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
}

.Pkmn-Data tbody {
   border: 1px solid black;
}

.Pkmn-Data table td {
   width: 90px;
   border: 1px solid black;
}
